* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:linear-gradient( #a4b9d8,rgb(154, 194, 248));
    color: #333;
}

header {
    background: #0a2540;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.home-img img {
    width: 220px;
    border-radius: 50%;
    border: 4px solid #0a2540;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0a2540;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px;
}

h2 {
    margin-bottom: 20px;
    color: #0a2540;
}

.skills-box span {
    display: inline-block;
    background:linear-gradient(white);
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

.project {
    background:linear-gradient( #93b1de);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.project a {
    color: #0a2540;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 15px;
    background: #0a2540;
    color: white;
}
.resume-btn {
    background: transparent;
    color: #0a2540;
    border: 2px solid #0a2540;
    margin-left: 10px;
}

.resume-btn:hover {
    background: #0a2540;
    color: white;
}
.internship-box {
    background:linear-gradient( #93b1de);
    padding: 20px;
    border-radius: 8px;
    line-height: 1.7;
}

.internship-box h3 {
    color: #0a2540;
}

.internship-box h4 {
    color: #555;
    margin-bottom: 10px;
}

.internship-box ul {
    padding-left: 20px;
}

